<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xt.business.sys.mapper.UserMapper">
    <!-- 开启二级缓存 -->
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xt.business.sys.domain.entity.User">
        <id column="id" property="id" javaType="Long"/>
        <result column="username" property="username" javaType="String"/>
        <result column="nickname" property="nickname" javaType="String"/>
        <result column="email" property="email" javaType="String"/>
        <result column="mobile" property="mobile" javaType="String"/>
        <result column="sex" property="sex" javaType="Integer"/>
        <result column="avatar" property="avatar" javaType="String"/>
        <result column="password" property="password" javaType="String"/>
        <result column="status" property="status" javaType="Integer"/>
        <result column="remark" property="remark" javaType="String"/>
        <result column="deleted" property="deleted" javaType="Integer"/>
        <result column="creator" property="creator" javaType="String"/>
        <result column="create_time" property="createTime" javaType="Date"/>
        <result column="updater" property="updater" javaType="String"/>
        <result column="update_time" property="updateTime" javaType="Date"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , username, nickname, email, mobile, sex, avatar, password, status, remark, deleted, creator, create_time, updater, update_time
    </sql>

    <sql id="list_where">
        <where>
            <if test="ids != null and ids.size() > 0">
                and id in
                <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                    #{item.id}
                </foreach>
            </if>
            <if test="username != null and username !=''">
                and username = #{username}
            </if>
            <if test="nickname != null and nickname !=''">
                and nickname = #{nickname}
            </if>
            <if test="email != null and email !=''">
                and email = #{email}
            </if>
            <if test="mobile != null and mobile !=''">
                and mobile = #{mobile}
            </if>
            <if test="sex != null">
                and sex = #{sex}
            </if>
            <if test="avatar != null and avatar !=''">
                and avatar = #{avatar}
            </if>
            <if test="password != null and password !=''">
                and password = #{password}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="remark != null and remark !=''">
                and remark = #{remark}
            </if>
            and deleted = 0
            <if test="creator != null and creator !=''">
                and creator = #{creator}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updater != null and updater !=''">
                and updater = #{updater}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </sql>
    <sql id="update_where">
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </sql>
    <select id="getUserList" parameterType="com.xt.business.sys.domain.entity.User" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        <include refid="list_where"/>
    </select>

    <select id="getUserOne" parameterType="com.xt.business.sys.domain.entity.User" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        <include refid="list_where"/>
        limit 1
    </select>

    <resultMap id="SysUserResultMap" type="com.xt.business.sys.domain.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="sex" property="sex"/>
        <result column="avatar" property="avatar"/>
        <result column="password" property="password"/>
        <result column="status" property="status"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="deleted" property="deleted"/>
        <collection property="roleList" javaType="list" resultMap="UmsRoleResult"/>
    </resultMap>

    <!--    配置角色映射-->
    <resultMap id="UmsRoleResult" type="com.xt.business.sys.domain.entity.Role">
        <id column="role_id" property="roleId"/>
        <result column="role_label" property="roleLabel"/>
        <result column="role_name" property="roleName"/>
        <result column="sort" property="sort"/>
        <result column="status" property="status"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <select id="getUserByUserName" resultMap="SysUserResultMap">
        select
        sy.id,sy.username,sy.nickname,sy.email,sy.mobile,sy.sex,sy.avatar,sy.password,
        sy.status,sy.creator, sy.updater,sy.create_time,sy.update_time,sy.remark,
        ur.role_id,ur.role_label,ur.role_name,ur.sort
        from sys_user sy
        left join sys_user_role sur on sy.id = sur.user_id left join sys_role ur on ur.role_id = sur.role_id
        <where>
            sy.deleted = 0 and ur.deleted = 0 and
            <if test="userNameType == 0">
                sy.username = #{username}
            </if>
            <if test="userNameType == 1">
                sy.mobile = #{username}
            </if>
            <if test="userNameType == 2">
                sy.email = #{username}
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="com.xt.business.sys.domain.entity.User">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            username,
            nickname,
            email,
            mobile,
            sex,
            avatar,
            password,
            status,
            remark,
            deleted,
            creator,
            create_time,
            updater,
            update_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{username},
            #{nickname},
            #{email},
            #{mobile},
            #{sex},
            #{avatar},
            #{password},
            #{status},
            #{remark},
            #{deleted},
            #{creator},
            #{createTime},
            #{updater},
            #{updateTime},
        </trim>
    </insert>

    <insert id="insertBatchUser">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            username,
            nickname,
            email,
            mobile,
            sex,
            avatar,
            password,
            status,
            remark,
            deleted,
            creator,
            create_time,
            updater,
            update_time,
        </trim>
        values
        <foreach collection="list" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.username},
                #{item.nickname},
                #{item.email},
                #{item.mobile},
                #{item.sex},
                #{item.avatar},
                #{item.password},
                #{item.status},
                #{item.remark},
                #{item.deleted},
                #{item.creator},
                #{item.createTime},
                #{item.updater},
                #{item.updateTime},
            </trim>
        </foreach>
    </insert>

    <update id="updateUser" parameterType="com.xt.business.sys.domain.entity.User">
        update sys_user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="mobile != null">
                mobile = #{mobile},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="creator != null">
                creator = #{creator},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updater != null">
                updater = #{updater},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        <include refid="update_where"/>
    </update>

    <update id="updateBatchUserIds" parameterType="com.xt.business.sys.domain.entity.User">
        update sys_user
        <set>
            username = #{username},
            nickname = #{nickname},
            email = #{email},
            mobile = #{mobile},
            sex = #{sex},
            avatar = #{avatar},
            password = #{password},
            status = #{status},
            remark = #{remark},
            deleted = #{deleted},
            creator = #{creator},
            create_time = #{createTime},
            updater = #{updater},
            update_time = #{updateTime},
        </set>
        <where>
            id in
            <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                #{item.id}
            </foreach>
        </where>
    </update>

    <update id="updateBatchUser">
        update sys_user
        <trim prefix="set" suffixOverrides=",">
            <foreach collection="list" item="item" index="index" open="(" close=")" separator=";">
                <trim prefix="id=case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        <if test="#{item.id} !=null">
                            when id= #{item.id} then #{item.id}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="username=case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        <if test="#{item.username} !=null and #{item.username} != ''">
                            when id= #{item.id} then #{item.username}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="nickname=case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        <if test="#{item.nickname} !=null and #{item.nickname} != ''">
                            when id= #{item.id} then #{item.nickname}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="email=case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        <if test="#{item.email} !=null and #{item.email} != ''">
                            when id= #{item.id} then #{item.email}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="mobile=case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        <if test="#{item.mobile} !=null and #{item.mobile} != ''">
                            when id= #{item.id} then #{item.mobile}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="sex=case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        <if test="#{item.sex} !=null">
                            when id= #{item.id} then #{item.sex}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="avatar=case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        <if test="#{item.avatar} !=null and #{item.avatar} != ''">
                            when id= #{item.id} then #{item.avatar}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="password=case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        <if test="#{item.password} !=null and #{item.password} != ''">
                            when id= #{item.id} then #{item.password}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="status=case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        <if test="#{item.status} !=null">
                            when id= #{item.id} then #{item.status}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="remark=case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        <if test="#{item.remark} !=null and #{item.remark} != ''">
                            when id= #{item.id} then #{item.remark}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="deleted=case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        <if test="#{item.deleted} !=null">
                            when id= #{item.id} then #{item.deleted}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="creator=case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        <if test="#{item.creator} !=null and #{item.creator} != ''">
                            when id= #{item.id} then #{item.creator}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="create_time=case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        <if test="#{item.createTime} !=null">
                            when id= #{item.id} then #{item.createTime}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="updater=case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        <if test="#{item.updater} !=null and #{item.updater} != ''">
                            when id= #{item.id} then #{item.updater}
                        </if>
                    </foreach>
                </trim>
                <trim prefix="update_time=case" suffix="end,">
                    <foreach collection="list" item="item" index="index">
                        <if test="#{item.updateTime} !=null">
                            when id= #{item.id} then #{item.updateTime}
                        </if>
                    </foreach>
                </trim>
            </foreach>
        </trim>
        <where>
            id in
            <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
                #{item.id}
            </foreach>
        </where>
    </update>

    <update id="deleteUser" parameterType="com.xt.business.sys.domain.entity.User">
        <!-- 逻辑删除 -->
        update sys_user
        <set>
            deleted = 1
        </set>
        <include refid="update_where"/>
    </update>

    <update id="deleteBatchUser" parameterType="com.xt.business.sys.domain.entity.User">
        update sys_user
        <set>
            deleted = 1
        </set>
        <where>
            id in
            <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
                #{item.id}
            </foreach>
        </where>
    </update>
</mapper>
